
p{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: lightseagreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* CURSE U INLINE BLOCK*/
.inline-block{
    display: inline-block;
    vertical-align: top;
    
    /*outline: 1px solid red;*/

}

.logo{
    display: inline-block;
width: 20%;
padding: 1%;
text-align: center;
}

.nav{
    display: flex;
    flex-direction: row;
    text-align: right;
}
.navbar{
/* width: 100%;
padding: 1%;
text-align: right; */
}

ul{
    width: 95%;
    text-align: left;
    display: flex;
    padding:0%;
    gap: 12px;
    align-items: center;

}

.heroImg{
    display: flex;
    flex-direction: row;
    height: 450px;
    padding: 15px;
    background-color: lightseagreen;
}

.content{
    width: 500px;
    margin: 0 auto;
}

.navigation{
    width: 100%;
    margin-right:auto;
}

.fixMe{
    width: 3%;
    display: inline-block;
}
.navigationContainer{
    background-color: azure;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

footer{
    background-color: azure;
}

.footList{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    color: rgb(52, 52, 52);
    height: 30px;
    transition: .5s ease;
}

button:hover{
    transform: scale(1.1);
    background-color: beige;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(52, 52, 52);
    margin: 1%;
    justify-content: center;
}
